.user-infos {
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  color: orange;
}

.user-infos a {
  display: block;
}


.typo-profile {
  font-family: 'Creepster', cursive;
}

.taille-typo {
  font-size: 20px;
}

.halloween-avatar {
  border: 2px solid orange;
}

.user-infos img {
  height: 150px;
  width: 150px;
}

.distinctions {
  border: 2px solid orange;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  color: orange;
  font-family: 'Creepster', cursive;
  width: 60%;
}

.distinctions h3 {
  font-size: 1.2rem;
}

.distinctions h4 {
  font-size: 1rem;
  margin-left: 1rem;
}

.distinctions img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}