body {
  background-color: #484848;
}
/* Jumbotron */

h1.logo {
  font-family: 'Creepster', cursive;
  font-size: 7rem;
  color: black;
  text-align: center
};

div.jumbotron-fluid {
  padding: 0;
  margin : 0;
}
div.container-fluid {
  padding: 0;
  margin : 0;
}

a.style-bouton {
  color: orangered;
  font-weight: bold;
  font-size: 2.5rem;
  background: black;
  font-family: 'Creepster', cursive;
  padding: 10px 20px;
  border: 1px solid black;
}
.hover a.style-bouton. {
  color: orangered;
}

p.wlcwrapper {
  text-align: center;
}
.card {
  border: 1px solid #333333;
}

.position-bouton {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 90%;
  left: 50%
}
.hover

/*Menu*/
.navbar {
  font-family: 'Creepster', cursive;
}
a.navbar-brand {
  font-size: 2rem;
}
a.nav-link {
  font-size: 1.5rem;
}
