/* Jumbotron */

.logo {
  font-family: 'Creepster', cursive;
  font-size: 7rem;
  color: black;
  align-content: center
};

.jumbotron-fluid {
  padding: 0;
  margin : 0;
}

.jumbotron {
  padding: 0;
  margin : 0;
}

.wlcbutton {
  color: orangered;
  font-weight: bold
}
