/* Smartpĥone petit écran */
@media only screen and (max-width:375px) {
  a.navbar-brand {
    font-size: 1rem;
  }
  a.nav-link {
    font-family: 'Creepster', cursive;
    font-size: 1rem;
  }
  .style-bouton {
    font-size: 2rem;
    }
}
/* Smartpĥone récent */
@media only screen and (min-width:375px) {
  a.navbar-brand {
    font-size: 1.5rem;
  }
  a.nav-link {
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
  }
  .style-bouton {
    font-size: 2.5rem;
  }
}
/* Version desktop */
@media only screen and (min-width:900px) {
  .navbar {
    padding-bottom: 0.5rem!important;
  }
  a.navbar-brand {
    font-size: 2.5rem;
  }
  a.nav-link {
    font-family: 'Creepster', cursive;
    font-size: 2rem;
  }
  .style-bouton {
    font-size: 2.5rem;
  }
}

body {
  background-color: #484848;
}
/* Jumbotron */

@font-face {
  font-family: "Pieces";
	src: url('./pieces nfi.ttf');
}

div.jumbotron-fluid {
  padding: 0;
  margin : 0;
}
div.container-fluid {
  padding: 0;
  margin : 0;
}

.style-bouton {
  color: orange;
  background:black;
  font-family: 'Creepster', cursive;
  padding: 5px 40px;
  border: 1px solid orange;
}
p.wlcwrapper {
  text-align: center;
}

.position-bouton {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 90%;
  left: 50%
}

/*Menu*/
.navbar {
  padding-top: 1rem!important;
}
a.navbar-brand {
  font-family: 'Pieces', cursive;
  padding-top: 1rem;
}
a.nav-link {
  font-family: 'Creepster', cursive;
}

.navbar-position {
  z-index: 100;
}

/* Modales */

.modal-loot {
  display: block;
  font-size: 0.8rem;
  top: 150px;
  width:50vw;
  margin:auto;
}

.modal-content {
  background-color: orange;
  color: black;
  border-radius: 10px;
}

.modal-loot button {
  width: 60px;
  height: 30px;
  background-color: black;
  color: orange;
  border: 1px solid black;
  border-radius: 5px;
}
